.homeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
  height: auto;
}

.homeContainer {
  padding: 1rem 0;
  background-color: aliceblue;
  width: 100%;
  height: auto;
}

.homeContainer h1 {
  text-transform: uppercase;
}
